.jobs-list {
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #6b6b6b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.jobs-list__header {
  display: flex;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  padding: .75rem 1.25rem;
  box-sizing: border-box;
  background-color: #ddd;
  border-bottom: 1px solid #6b6b6b;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.jobs-list__item {
  width: 100%;
  padding: .75rem 1.25rem .75rem;
  box-sizing: border-box;
  display: flex;
  color: #000;
  text-decoration: none;
  transition: .3s ease;
  border-bottom: 1px solid #6b6b6b;
}

.jobs-list__item:hover {
  color: #555;
}

.jobs-list__posted {  
  height: 100%;
  font-size: 10px;
  transition: .3s ease;
}

.jobs-list__loc {
  font-size: 12px;
  width: 20%;
  overflow: hidden;
  margin: auto 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jobs-list__name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-right: 4px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jobs-list__salary {
  font-size: 12px;
  width: 22%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: auto 0;
}

.jobs-list__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.jobs-list__title:hover {
  color: #333;
  /* box-shadow: 0 3px 15px rgba(0,0,0,.5); */
}

.jobs-list__title:focus {
  outline: none;
}