.jobs-list {
  grid-area: list;
  height: 100%;
  max-height: calc(100vh - 2rem);
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #6b6b6b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.jobs-list__header {
  display: flex;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;
  padding: .75rem 1.25rem;
  box-sizing: border-box;
  background-color: #ddd;
  border-bottom: 1px solid #6b6b6b;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}



.jobs-list__item {
  width: 100%;
  padding: .75rem 1.25rem .75rem;
  box-sizing: border-box;
  display: flex;
  color: #000;
  text-decoration: none;
  transition: .3s ease;
  border-bottom: 1px solid #6b6b6b;
}

.jobs-list__item:hover {
  color: #555;
}

.jobs-list__link {
  margin-left: auto;
  position: relative;
  right: 14px;
  background-image: url('../../images/link-icon.svg');
  height: 100%;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: .3s ease;
}

.jobs-list__item:hover .jobs-list__link {
  opacity: .8;
  right: 0;
}

.jobs-list__loc {
  font-size: 12px;
  width: 20%;
  overflow: hidden;
  margin: auto 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jobs-list__name {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-right: 4px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jobs-list__salary {
  font-size: 12px;
  width: 22%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: auto 0;
}

.jobs-list__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background: none;
}