.page {
    max-width: 1440px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 0 50px;
    min-width: 280px;
    font-family: 'Noto Sans', 'Roboto', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}