.result-block__toggle {
    width: 30px;
    height: 30px;
    margin-top: 8px;
    background-image: url('../../../../images/toggle1.svg');
    background-repeat: no-repeat;
    background-size: auto;
}