.search__toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.search__toggle-input:checked + .search__toggle-text {
    background-color: #4B4B4B;
    color: white;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
}