.main {
  max-width: 1440px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
}

.main__content {
  display: flex;
  height: 100vh;
  justify-content: center;
}

.main__left-col {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
  max-width: 740px;
}

.main__right-col {
  display: flex;
  max-width: 400px;
}