.main {
  max-width: 1520px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  /* overflow: scroll; */
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  justify-content: center;
}

.main__row {
  display: flex;
}
