.main {
  max-width: 1440px;
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
}

.main__content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: min-content 1000px;
  grid-template-areas: 
      "map blocks"
      "list blocks";
  gap: 20px 20px;

}