.result-blocks {
  grid-area: blocks;
  /* display: flex; */
  flex-direction: column;
  /* height: 100%; */
  overflow: scroll;
}

.result-block {
  width: 100%;
  border: 1px solid #6b6b6b;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 16px;
  box-sizing: border-box;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.result-block__data {
  display: grid;
  position: relative;
  grid-template-columns: 42% 58%;
}

.result-block__loader {
  display: block;
  width: 74px;
  height: 74px;
  border: 3px solid #ccc;
  border-bottom-color: #777;
    
  border-radius: 50%;
    
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  bottom: 20px;
  margin: auto;
  
  animation: spin 0.9s infinite cubic-bezier(.18,.49,.85,.58);
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
.result-block__header {
  display: flex;
  width: 100%;
}

.result-block__result {
  font-size: 16px;
  line-height: 24px;
}

.result-block__stat {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.result-block__title {
  margin-right: auto;
  font-size: 24px;
  font-weight: 700;
}

.result-block__toggle {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  background-image: url('../../images/toggle1.svg');
  background-repeat: no-repeat;
  background-size: auto;
}

.result-block__toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.result-block__toggle-slider {
  display: flex;
  position: relative;
  top: -20px;
  left: -2px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #6b6b6b;
  transition: .4s;
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);

}

.result-block__toggle-input:checked + .result-block__toggle-slider {
  transform: translateX(16px);
  background-color: #2557A7;
}