.header {
  display: flex;
  margin: 1.25rem 0 1.5rem;
}

.header__button {
  font-size: 20px;
  margin-top: 10px;
  margin-right: 20px;
  align-self: center;
  cursor: pointer;
  transition: color .2s ease;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.header__button:hover {
  color: #6B6B6B
}

.header__button:focus {
  outline: none;
}

.header__button_right {
  margin-left: auto;
}

.header__logo {
  margin-right: 40px;
}