@import url('./__outline/map__outline.css');

.map {
    width: 650px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #6B6B6B;
    box-sizing: border-box;
    grid-area: map;
    /* box-shadow: 0 3px 15px rgba(0,0,0,0.2); */
}