.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1100px;
  margin-bottom: 2rem;
  align-self: center;
}

.search_inactive {
  color: #6B6B6B;
  cursor: progress;
}

.search__text {
  display: flex;
  box-sizing: border-box;
  width: 350px;
  height: 46px;
  margin-right: 10px;
  border: 1px solid #6B6B6B;
  border-radius: 10px;
  transition: box-shadow .2s ease;
}

.search__input {
  font-weight: 400;
  border: none;
  width: 100%;
  border-radius: inherit;
  cursor: inherit;
}

.search__input:focus {
  outline: none;
}

.search__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  margin: 0 10px;
  align-self: center;
  cursor: inherit;
}

.search__text:focus-within {
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  border-color: #2557A7;
}

.search__toggle {
  height: 46px;
  cursor: pointer;
  background-color: rgb(228, 226, 224);
  border-radius: 10px;
  margin-right: 10px;
}

.search__toggle_inactive {
  cursor: progress;
}

.search__toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.search__toggle-input:checked + .search__toggle-text {
  background-color: #4B4B4B;
  color: white;
  box-shadow: 0 3px 15px rgba(0,0,0,.3);
}

.search__toggle-text {
  display: flex;
  width: 110px;
  height: 100%;
  border-radius: 10px;
  transition: box-shadow .2s ease;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

.search__submit {
  width: 100px;
  height: 46px;
  margin-left: auto;
  position: relative;
  background-color: #2557A7;
  color: #FFF;
  border: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
  transition: .2s ease;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.search__submit:hover {
  background-color: #0A4097;
}

.search__submit:active {
  outline: none;
  background-color: #777;
  transition: .2s ease;
  box-shadow: -3px -3px 15px rgba(0,0,0,0.4);
  top: 2px;
  left: 2px;
}

.search__submit:focus {
  outline: none;
}

.search__submit_inactive {
  background-color: #4B4B4B;
  color: #999;
  cursor: progress;
}
.search__submit_inactive:hover {
    background-color: #4B4B4B;
  }

.search__submit_inactive:focus {
  outline: none;
}