@import url('./__data/result-block__data.css');
@import url('./__header/result-block__header.css');
@import url('./__result/result-block__result.css');
@import url('./__stat/result-block__stat.css');
@import url('./__title/result-block__title.css');
@import url('./__toggle-input/result-block__toggle-input.css');
@import url('./__toggle/result-block__toggle.css');
@import url('./__toggle-slider/result-block__toggle-slider.css');

.result-block {
    width: 100%;
    border: 1px solid #6b6b6b;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 16px;
    box-sizing: border-box;
}