.map {
  width: 100%;
  display: flex;
  height: min-content;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #6B6B6B;
  box-sizing: border-box;
  position: relative;
  cursor: crosshair;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
  margin-bottom: 1.5rem;
}

.map__outline {
  max-width: 100%;
  height: auto;
}

.map__switchbox {
  position: absolute;
  top: 12px;
  right: 50px;
  font-weight: bold;
  color: #6b6b6b;
  transition: .5s ease;
}

.map__toggle {
  width: 30px;
  height: 30px;
  margin-top: 8px;
  background-image: url('../../images/toggle1.svg');
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 100;
  position: absolute;
  top: -4px;
  right: -40px;
}

.map__toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.map__toggle-slider {
  display: flex;
  position: relative;
  top: -20px;
  left: -2px;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #6b6b6b;
  transition: .4s;
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);

}

.map__toggle-input:checked + .map__toggle-slider {
  transform: translateX(16px);
  background-color: #2557A7;
}

.map__pixel {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  transform-origin: center;
  bottom: 0;
  left: 0;
  background-color: rgba(10,64,151,.6);
  transition: .3s ease;
  z-index: 0;
}

.map__pixel:hover {
  transform: scale(1.6);
  transform-origin: top right;
}

.map__city {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  padding: 6px;
  border: 1px solid #6b6b6b;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  width: max-content;
  transition: .3s ease;
  background-color: rgba(255,255,255,1);
  z-index: 100;
}

.map__pixel:hover + .map__city {
  visibility: visible;
  opacity: 1;
}

/* For older nested implementation */
.map__pixel:hover > .map__city {
  visibility: visible;
  opacity: 1;
}
