.result-block__toggle-slider {
    display: flex;
    position: relative;
    top: -20px;
    left: -2px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #6b6b6b;
    transition: .4s;
    box-shadow: 0 3px 15px rgba(0,0,0,0.3);

}

.result-block__toggle-input:checked + .result-block__toggle-slider {
    transform: translateX(16px);
    background-color: #2557A7;
}