.jobs-list__link {
    margin-left: auto;
    /* margin: auto 0 auto auto; */
    background-image: url('../../../images/link-icon.svg');
    height: 100%;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: .2s;
}

.jobs-list__link:hover {
    opacity: .5;
}