.search__text {
    display: flex;
    width: 300px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #6B6B6B;
    border-radius: 10px;
    transition: box-shadow .2s ease;
}

.search__text:focus-within {
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    border-color: #2557A7;
}